In [1]:
import numpy as np
import pandas as pd

In [2]:
# create a clear board
dim = 10
board = np.zeros((dim, dim), dtype=int)

# randomly place ships on the board
ship_lengths = [5, 4, 3, 3, 2]

# for each ship
for ship_length in ship_lengths:
    is_ship_placed = False
    
    while not is_ship_placed:
        # seed a coordinate for the head of a ship
        head = tuple(np.random.randint(dim, size=2))

        # choose a direction for the ship to be laid out
        # N=0, S=1, E=2, W=3
        heading = np.random.randint(4)

        # check that the ship does not hang off the edge of the board
        if heading == 0:
            tail = (head[0] - ship_length + 1, head[1])
        elif heading == 1:
            tail = (head[0] + ship_length - 1, head[1])
        elif heading == 2:
            tail = (head[0], head[1] + ship_length - 1)
        elif heading == 3:
            tail = (head[0], head[1] - ship_length + 1)
    
        if not ((0 <= tail[0] <= dim-1) and (0 <= tail[1] <= dim-1)):
            continue

        # check that the ship does not overlap with any others
        NS_min = min(head[0],tail[0])
        NS_max = max(head[0],tail[0])
        EW_min = min(head[1],tail[1])
        EW_max = max(head[1],tail[1])
        
        if sum(sum(board[NS_min:NS_max+1,EW_min:EW_max+1])) != 0:
            continue
    
        # place the ship
        board[NS_min:NS_max+1,EW_min:EW_max+1] = 1
        is_ship_placed = True

In [3]:
#check number of pieces on the board
print(sum(ship_lengths) == sum(sum(board)))

# represent board solution in genetic form
genetic_solution = ''.join(str(x) for x in list(board.flatten()))
print(genetic_solution)

# print the board
board

True
0000000000000000000000000000110000000000001011111001100000000110000000010000000001000001110000000000

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 1, 1, 1, 1, 0],
       [0, 1, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 1, 1, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [36]:
def fitness(solution, candidate):
    n_gene_matches = 0
    
    for i in range(len(solution)):
        if solution[i] == candidate[i]:
            n_gene_matches += 1
            
    return n_gene_matches / len(solution)

In [39]:
# initialize the first random generation
n_genes = 100
n_generation_size = 20

# create dataframe for gene pool
gene_pool = pd.DataFrame(columns=['Phenotype','Generation','Birth','Fitness'])

# for each phenotype
for i in range(n_generation_size):

    # create random pheontype
    phenotype = {}
    phenotype['Phenotype'] = ''.join(str(x) for x in list(np.random.randint(2, size=n_genes)))
    phenotype['Birth'] = 'Random'
    phenotype['Generation'] = 1
    
    # compare fitness
    phenotype['Fitness'] = fitness(genetic_solution, phenotype['Phenotype'])
    
    # check for uniqueness and add to gene pool
    if phenotype['Phenotype'] not in gene_pool['Phenotype']:
        gene_pool = gene_pool.append(phenotype, ignore_index=True)
    
# print the gene pool
gene_pool

,Phenotype,Generation,Birth,Fitness
0,0111011111001001111100100001110010101100111111...,1,Random,0.50
1,0010110010011110010110100001101101101000011000...,1,Random,0.51
2,1000100110000111111000100111111000001010101001...,1,Random,0.51
3,0111010110111110110100010101000010100011100011...,1,Random,0.50
4,1011000011110101111000000101000110001001001110...,1,Random,0.52
5,0110100110101110010101101100101111011010000011...,1,Random,0.48
6,1000000101011110100101111010111110001000111100...,1,Random,0.49
7,0000000000011101101101001000011001010011000011...,1,Random,0.53
8,0001100000111110011001110111001000110010001110...,1,Random,0.57
9,1000010011010011000011001110111100110100010010...,1,Random,0.56
10,0010101001111101101001101110110111000001001111...,1,Random,0.48
11,1011111010100010110011011000000010111011010011...,1,Random,0.49
12,0111110110101010010110010000110011010000111000...,1,Random,0.52
13,1001001110101110101000001001110101000001001100...,1,Random,0.52
14,1100110010111000101001100001100011011101101101...,1,Random,0.49
15,1110111011011100011101110110110000111111011000...,1,Random,0.47
16,0101110100010110100010011001100101110100101001...,1,Random,0.51
17,1111011100000010000110001111001101001100110101...,1,Random,0.42
18,1010000101110111001010101001100100100110101100...,1,Random,0.46
19,0101011101011111100111001101111110001100011111...,1,Random,0.50

In [2]:
# select

In [3]:
# operate

In [4]:
# terminate

In [5]:
# heuristics